// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: lightgray;
  text-align: left;
  text-decoration: none;
}

a {
  color: gray;
  &:hover {
    color: black;
  }
}

input {
  height: 30px;
  width: 300px;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
}

#ask {
    background-color: blue;
    height: 30px;
    width: 70px;
    border-style: solid;
    border-width: thin;
  }

 h1 {
    font-size: 30px;
    color: black;
    font: Helvetica;
    border-color: black;
    border-width: thin;
  }

#banner {

}

p {
  font-family: Helvetica;
}

